<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>目的地</title>
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="mobile-agent" content="format=html5; url=http://m.roadqu.com">
    <link rel="stylesheet" href="/travel/Public/css/city/global.css" media="all">
    <link rel="stylesheet" href="/travel/Public/css/city/boxy,jquery.fancybox-1.3.4.css">
    <link rel="stylesheet" type="text/css" href="/travel/Public/css/city/cityguide.css">
    <link href="http://bdimg.share.baidu.com/static/css/bdsstyle.css?cdnversion=20131219" rel="stylesheet" type="text/css">
</head>
<body id="profile-homepage">
    <div id="container">
        <div id="mainWrapper" class="cf">
        <div class="sceneInfo">
            <div class="sceneView fn-clear ">
                <div class="scenePic">

                    <ul id="slider" class="slider">
                        <li>
                            <a href="">
                                <img src="__PUBLIC__/images/city/1.jpg" width="530" height="325" alt="武隆，大自然的鬼斧神工" title="   武隆是一个山旮旯，但，踏却以自己独特的魅力赢得了众人的“芳心。"></a>
                            <div class="alpha-txt txt-info">
                                <h2>观武隆，赏自然之美</h2>
                                <p>武隆是一个山旮旯，但，它却以自己独特的魅力赢得了众人的“芳心”。</p>
                            </div></li>
                        </ul>                
                    </div>
                    <div class="sceneIntro">
                        <div class="sceneIntro-head">
                            <h2 class="fn-left">武隆印象</h2>                            
                        </div>
                        <p class="txt-desc-p">
                            <span class="fn-clear">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;武隆是个美丽的地方，被称为世界自然遗产之地。在芙蓉洞里，不仅非常凉爽，千姿百态的钟乳石琳琅满目，有巨幕飞瀑， 大小雁塔，千年    之吻，贵妃浴池和生命之源等。洞里的钟乳石不时的滴下一滴一滴的水来，在灯光的照耀下变得五彩缤纷,……出了芙蓉洞，来到了天坑，天坑也叫天生三桥，那里的池水清澈见底。而仙女山却是另一番景象：马儿奔跑在生机勃勃的草地上，山羊和黄牛悠闲地在草地上停息，鸟儿叽叽喳喳的飞来飞去……来到驯马场，看见了一匹“白马”过了很久，从马上下来，骑的“白马”不见了，只有一匹棕色的马在我眼前。原来“沙僧”是马场牵马的人……
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="main">
                <!-- 热门景点 begin -->
                <div class="ui-box fn-clear">
                    <div class="ui-title">
                        <h2 class="ui-title-cnt fn-left">
                            <em>热门景点</em>
                        </h2>

                    </div>
                    <ul class="hot-spots fn-clear">
                        <li>

                            <img src="__PUBLIC__/images/city/2.jpg" width="200" height="190" alt="">
                        <ul class="tag-info fn-clear">

                            <li>
                                <a>&nbsp;&nbsp;&nbsp;&nbsp;天 生 三 桥</a>
                            </li>

                        </ul>
                    </li>
                    <li class="middle">

                        <img src="__PUBLIC__/images/city/3.jpg" width="200" height="190" alt="">
                    <ul class="tag-info fn-clear">
                        <li>
                            <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;芙 蓉 洞</a>
                        </li>

                    </ul>
                </li>
                <li class="last">

                    <img src="__PUBLIC__/images/city/4.jpg" width="200" height="190" alt="">

                <ul class="tag-info fn-clear">
                    <li>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仙 女 山</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <!-- 热门景点 end -->

    <!-- 精彩线路推荐 begin -->
    <div class="ui-box fn-clear">
        <div class="ui-title">
            <h2 class="ui-title-cnt fn-left">
                <em>精彩线路行程</em>
            </h2>

        </div>
        <ul class="splendid-line fn-clear">
            <li class="fn-clear">
                <a href="journey/12839" class="line-img">
                    <img src="__PUBLIC__/images/city/5.jpg" width="130" height="120"></a>
                <div class="line-box">
                    <p>
                        <a>武隆该怎么去？</a>
                    </p>
                    <ul class="dl-list">
                        <li class="fn-clear">
                            <div class="xianlu-img">
                                <dt>D.1</dt>
                            </div>
                            <div class="xianlu-info ">
                                <ul>
                                    <li class="first-item">火车：重庆北站-——武隆</li>
                                    <li>约2小时</li>
                                    <li>25元</li>
                                </ul>
                            </div>
                            </li><li class="fn-clear">
                                <div class="xianlu-img">
                                    <dt>D.2</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">客车：重庆汽车站站-——武隆</li>
                                        <li>约2小时</li>
                                        <li>60元</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <div class="xianlu-img">
                                    <dt>D.3</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">自驾游</li>
                                        <li>约200公里</li>
                                        <li>重庆——涪陵——武隆——仙女山</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="fn-clear disnone">
                                <div class="xianlu-img">
                                    <dt>D.4</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">
                                            <a href="poi/5f79c7e23e05f4e1e551e29a50f6a9e2" target="_blank">惠州庄加庄温泉度假村</a>
                                        </li>
                                        <li>
                                            <a href="poi/f2c59907321ca282dda0142f532f80af" target="_blank">南昆山温泉大观园</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </li>
                <li class="fn-clear">
                    <a href="journey/15691" class="line-img">
                        <img src="__PUBLIC__/images/city/6.jpg" width="130" height="120"></a>
                    <div class="line-box">
                        <p>
                            <a href="journey/15691">路线景点推荐</a>
                        </p>
                        <ul class="dl-list">
                            <li class="fn-clear">
                                <div class="xianlu-img">
                                    <dt>DAY1</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">芙蓉洞</li>
                                        <li>
                                            <a href="poi/e341b2ec4a84ae4b44520ef73b9274b5" target="_blank">芙蓉江</a>
                                        </li>
                                        <li>天生三桥</li>

                                    </ul>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <div class="xianlu-img">
                                    <dt>DAY2</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">龙水峡地缝</li>
                                        <li>
                                            <a href="poi/39181fcb9d8b26cc7274da5b2f4b9c0d" target="_blank">仙女山</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <div class="xianlu-img">
                                    <dt>行程亮点</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">漂流</li>
                                        <li>滑草</li>
                                        <li>探险</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fn-clear">
                    <a href="journey/15721" class="line-img">
                        <img src="__PUBLIC__/images/city/7.jpg" width="130" height="120"></a>
                    <div class="line-box">
                        <p>
                            <a href="journey/15721">美食（不可或缺）</a>
                        </p>
                        <ul class="dl-list">
                            <li class="fn-clear">
                                <div class="xianlu-img">
                                    <dt>特色</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">烟草村碗碗养肉</li>
                                        <li>代老幺鱼羊鲜</li>
                                        <li>乌江鱼</li>
                                    </ul>
                                </div>
                            </li>
                            <ul>
                                <br></ul>
                            <li class="fn-clear">
                                <div class="xianlu-img">
                                    <dt>麻辣</dt>
                                </div>
                                <div class="xianlu-info ">
                                    <ul>
                                        <li class="first-item">重庆辣子鸡</li>
                                        <li>酸辣粉</li>

                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>

                </li>
            </ul>
        </div>
        <!-- 精彩线路推荐 end -->

        <!-- 游记 begin -->
        <div class="travel-log corner-box cf" id="journey-list">
            <div class="ui-title">
                <h2 class="ui-title-cnt fn-left">
                    <em>武隆娱乐</em>
                </h2>
            </div>

            <ul class="travel-log-list">
                <li>
                    <p>
                        <a>来武隆必须玩！</a>
                    </p>

                    <p>
                        <a target="_blank" href="journey/16029" class="multiSmallPic">
                            <img width="158" height="170" src="__PUBLIC__/images/city/8.jpg">
                            <img width="158" height="170" src="__PUBLIC__/images/city/9.jpg">
                            <img width="158" height="170" src="__PUBLIC__/images/city/10.jpg">
                            <img width="158" height="170" src="__PUBLIC__/images/city/11.jpg">

                        </a>
                        去武隆玩什么？芙蓉江过江速滑，武隆仙女峡漂流，印象武隆，温泉度假村都不能少。
                    </p>
                </li>
                <li>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位于芙蓉江上、天下第一洞芙蓉洞旁，是目前最长的过江速滑。武隆仙女峡漂流，位于武隆县西南城郊3公里处黄柏渡景区内，沿武隆巷口镇长头河顺流而下，漂流全长5KM，属于典型的峡谷活水生态漂流。游客于原山活水峡谷间，感受河床曲折回旋之气势、浪遏飞舟之爽快、碧流清泉之甘美，经历一场惊险刺激、畅快淋漓、心旷神怡的生态峡谷消暑之旅。
                    </p>
                </li>
                <li>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;印象·武隆”实景歌会由印象“铁三角”张艺谋任艺术顾问，王潮歌、樊跃任总导演，100多位特色演员现场真人真情献唱，以濒临消失的“号子”为主要内容，让观众在70分钟的演出中亲身体验
                        <a target="_blank" href="http://baike.baidu.com/view/185633.htm">自然遗产</a>
                        地壮美的
                        <a target="_blank" href="http://baike.baidu.com/view/43937.htm">自然景观</a>
                        和
                        <a target="_blank" href="http://baike.baidu.com/view/80869.htm">巴蜀</a>
                        大地独特的风土人情。
                    </p>
                </li>
                <li>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;盐井峡温泉水源来自乌江陡峭的山崖岩层，系5亿8千万年前古生代寒武纪地层，天然水质，优质浑成。经国家卫生及矿管部门的权威专家鉴定测试，该温泉富含有益人体健康的氟、锶、铁、硫等多种微量元素和偏硼酸、偏硅酸、硫化氢等多种有益化学物质，温泉水温高达44摄氏度，能促进人体新陈代谢，血液循环，对人体的神经系统、消化系统、心血管系统等有独特疗效。
                    </p>
                    

                </li>
            </ul>
        </div>
     </div>

    <div class="side">
        <div class="SC cf">
            <div class="ui-title-side">
                <h2 class="fn-left">酒店预订</h2>
                <div class="ui-title-subcnt fn-right">
                    <a href="http://hotels.ctrip.com/hotel/wulong21259#ctm_ref=hod_hp_sb_lst" target="_blank">+ 更多</a>
                </div>
            </div>

            <ul class="side-cnt">
                <li class="fn-clear">
                    <a href="http://www.roadqu.com/zhuanti/shanghua" class="fn-left" target="_blank">
                        <img src="__PUBLIC__/images/city/13.jpg" width="180" height="160" alt="128元/间"></a>
                    <div class="right-cnt">
                        <p>
                            <a title="阿拉贝卡" target="_blank">阿拉贝卡乡村酒店</a>
                        </p>
                        <p>
                            <a title="阿拉贝卡" target="_blank">大床：128元</a>
                        </p>
                        <p>
                            <a title="阿拉贝卡" target="_blank">双床：118</a>
                            元
                        </p>

                        <p>
                            <a href="http://hotels.ctrip.com/hotel/532399.html#ctm_ref=hod_hp_hv_def_n_1" class="book-now" target="_blank">马上预订</a>
                        </p>
                    </div>
                </li>
            <li class="fn-clear">
                <a href="http://www.roadqu.com/lvyouquan/dapeng/" class="fn-left" target="_blank">
                    <img src="__PUBLIC__/images/city/14.jpg" width="180" height="160" alt="128元/间"></a>
                <div class="right-cnt">
                    <p>
                        <a title="阿拉贝卡" target="_blank">仙女山华邦酒店</a>
                    </p>
                    <p>
                        <a title="阿拉贝卡" target="_blank">大床：430元</a>
                    </p>
                    <p>
                        <a title="阿拉贝卡" target="_blank">双床：430元</a>
                    </p>

                    <p>
                        <a href="http://hotels.ctrip.com/hotel/638091.html#ctm_ref=fav_chp_his_txt_1" class="book-now" target="_blank">马上预订</a>
                    
                </p>
            </div>
        </li>
        <li class="fn-clear">
            <a href="http://www.roadqu.com/lvyouquan/dawang/" class="fn-left" target="_blank">
                <img src="__PUBLIC__/images/city/15.jpg" width="180" height="160" alt="128元/间"></a>
            <div class="right-cnt">
                <p>
                    <a title="阿拉贝卡" target="_blank">武隆仙女山如意山庄</a>
                </p>
                <p>
                    <a title="阿拉贝卡" target="_blank">大床：168元</a>
                </p>
                <p>
                    <a title="阿拉贝卡" target="_blank">双床：138</a>
                    元
                </p>
                <p>
                    <a href="http://hotels.ctrip.com/hotel/347128.html#ctm_ref=fav_chp_his_txt_1" class="book-now" target="_blank">马上预订</a>
                
            </p>

        </div>
    </li>
</ul>
</div>

<div class="SC cf">
<ul class="side-cnt">
    <li class="fn-clear">
        <a href="http://www.roadqu.com/book/goods/59" class="fn-left" target="_blank">
            <img src="__PUBLIC__/images/city/16.jpg" width="180" height="160" alt="128元/间"></a>
        <div class="right-cnt">
            <p>
                <a title="阿拉贝卡" target="_blank">武隆福仙酒店</a>
            </p>
            <p>
                <a title="阿拉贝卡" target="_blank">大床：150元</a>
            </p>
            <p>
                <a title="阿拉贝卡" target="_blank">双床：150</a>
                元
            </p>
            <p>
                <a href="http://hotels.ctrip.com/hotel/766626.html#ctm_ref=fav_chp_his_img_2" class="book-now" target="_blank">马上预订</a>
            
        </p>

    </div>
</li>
</ul>
<ul class="side-cnt"></ul>

</div>
</div>

</div>
</div>
<!-- footer end -->


<div class="disnone" id="map_picker_wrap">
<div id="map_picker_content"></div>
</div>


</body></html>